### Copy this file to .env and fill in with your values
# API key/token
AUTH_TOKEN=eyJhbGciOi..................

# TEST IMAGE IN BASE64
IMAGE0BASE64=/9j/4AAQSkZJRgABAQEASABIAAD/4QBCRXhpZgAATU0AKgAAAAgAAgESAAMAAAABAAYAA.............